<a href='/bright_ideas'><h2>Bright Ideas</h2></a>
<a href="/logout"><h2>Log Out</h2></a>
<br>
<h2>Name: <%= @user.name %></h2>
<h2>Alias: <%= @user.alias %></h2>
<h2>Email: <%= @user.email %></h2>
<br>
<h2>Total Number of Posts: <%= @user.posts.count %></h2>
<br>
<h2>Total Number of Likes: <%= @user.likes.count %></h2>
